.container{
    position: absolute;
    top: 0;
    width: 100vw;
    min-width: 375px;
    height: 95px;
    background-color: black;
}

.searchBox{
    text-align: center;
    position: relative;
    display: block;
    margin: 20px auto;
    width: 30vw;
    max-width: 450px;
    min-width: 300px;
}

.searchBox>input{
    border-radius: 8px;
    font-weight: bold;
    width: 90%;
    height: 20px;
    padding: 2px 10px;
}
.searchBox>input:focus-visible{
    outline: none;
}

.heading{
    font-size: larger;
    font-weight: 1000;
    font-size: 22px;
    color: white;
}

.suggestionBox{
    font-weight: 600;
    color: #474747;
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: start;
    padding: 5px 5px;
    margin: 5px auto;
    border: 2px solid lightgray;
    border-radius: 8px;
    z-index: 999;
    height: fit-content;
    width: 90%;
    max-width: 420px;
    background-color: white;
    position: relative;
}

.suggestionBox>button{
    background-color: #f24d10;
    color: white;
    font-weight: bold;
    font-size: 12px;
    height: 28px;
    border-radius: 4px;
    width: 63px;
    margin-left: auto;
    margin-right: 0;
    cursor: pointer;
}
.suggestionBox>button:hover{
    font-size: 11px;
}
.suggestionBox>div{
    padding: 5px 10px;
}
.suggestionBox>div:hover{
    cursor: pointer;
    border-radius: 8px;
    background-color: black;
    color: white;
}